<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/components/map.html">
<link rel="import" href="/components/legend.html">

<dom-module id="cycle-app">
	<template>
		<style>
			#main{
				height: 100%;
				background-color: greenyellow;
			}
			:host{
				--legend-position: absolute;
				--legend-top: 0;
				--legend-right: 0;
				--legend-height: 100%;
				--legend-width: 200px;
				--map-width: calc(100% - 200px);
			}
		</style>
		<div id="main">
			<map-element lat="49" lng="-123" data="{{dataLayers}}"></map-element>
			<legend-element data="{{dataLayers}}"></legend-element>
		</div>
	</template>
	<script>
		Polymer({
			is: 'cycle-app',
			properties: {
				dataLayers: {
					type: Array,
					value: [
						{name:'Skytrain', src:'http://data.vancouver.ca/download/kml/rapid_transit_line.kmz', id:'skytrain', isVisible: true},
						{name:'Skytrain Stations', src:'http://data.vancouver.ca/download/kml/rapid_transit_stations.kmz', id:'skytrainStations', isVisible: true},
						{name:'Official Bike Routes', src:'http://data.vancouver.ca/download/kml/bikeways.kmz', id:'bikeRoutes', isVisible: false}
					]
				}
			}
		});
	</script>
</dom-module>
