<link rel="import" href="/bower_components/polymer/polymer.html">
<script src="/bower_components/underscore/underscore-min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>

<dom-module id="map-element">
	<template>
		<style>
			#map {
				height: var(--map-height, 100%);
				width: var(--map-width, 100%);
			}
		</style>

		<div id="map"></div>

	</template>

	<script>
		var map;
		Polymer({
			is: 'map-element',
			attached: function(){
				this._initMap();
			},

			properties: {
				lat: {
					type: Number,
					value: 39
				},
				lng: {
					type: Number,
					value: -122
				},
				data: {
					type: Array,
					value: []
				}
			},

			observers: [
				'_addLayers(data.*)'
			],

			_initMap: function(){
				map = new google.maps.Map(document.getElementById('map'), {
					center: {lat: this.lat, lng: this.lng},
					zoom: 8
				});
				this._addLayers();
			},
			_addLayers: function(){
				if(map){
					var addLayer = this._addLayer;
					_.each(this.data, function(layer){
						addLayer(layer)
					})

				}

			},
			_addLayer: function(layer){
				//if the layer is visible and not already on the map, add it to the map
				if(layer.isVisible && !this[layer.id]){
					console.log("layer is set to be visible, and its not already on the map")
					this[layer.id] = new google.maps.KmlLayer(layer.src, {preserveViewport:true});
					this[layer.id].setMap(map);
				}
				//if the layer is set to not be visible, and needs to be removed from the map
				if(!layer.isVisible && this[layer.id]){
					console.log("the layer is set to not be visible, and needs to be removed from the map");
					this[layer.id].setMap(null);
					this[layer.id] = null;
				}
			}
		});
	</script>

</dom-module>
