<link rel="import" href="/bower_components/polymer/polymer.html">
<script src="/bower_components/underscore/underscore-min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>

<dom-module id="map-element">
	<template>
		<style>
			#map {
				height: var(--map-height, 100%);
				width: var(--map-width, 100%);
			}
		</style>

		<div id="map"></div>

	</template>

	<script>
		var map;
		Polymer({
			is: 'map-element',
			attached: function(){
				this._initMap();
			},
			properties: {
				lat: {
					type: Number,
					value: 39
				},
				lng: {
					type: Number,
					value: -122
				},
				data: {
					type: Array,
					value: [],
					observer: '_addLayers'//does this work?
				}
			},
			_initMap: function(){
				map = new google.maps.Map(document.getElementById('map'), {
					center: {lat: this.lat, lng: this.lng},
					zoom: 8
				});
				this._addLayers();
			},
			_addLayers: function(){
				console.log("here")
				if(map){
					console.log("ismap", this.data)
					var addLayer = this._addLayer;
					_.each(this.data, function(layer){
						addLayer(layer)
					})

				}

			},
			_addLayer: function(layer){
				if(layer.isVisible){
					this[layer.id] = new google.maps.KmlLayer(layer.src);
					this[layer.id].setMap(map);
				}

			}
		});
	</script>

</dom-module>
