<link rel="import" href="/bower_components/polymer/polymer.html">
<script src="https://maps.googleapis.com/maps/api/js"></script>

<dom-module id="map-element">
	<template>
		<style>
			#map {
				height: var(--map-height, 100%);
				width: var(--map-width, 100%);
			}
		</style>

		<div id="map"></div>

	</template>

	<script>
		var map;
		Polymer({
			is: 'map-element',
			attached: function(){
				initMap(this.lat, this.lng);
			},
			properties: {
				lat: {
					type: Number,
					value: 39
				},
				lng: {
					type: Number,
					value: -122
				}
			}
		});

		var initMap = function(lat, lng){
			console.log("here", document.getElementById('map'));
			map = new google.maps.Map(document.getElementById('map'), {
				center: {lat: lat, lng: lng},
				zoom: 8
			});
		}

	</script>

</dom-module>
